# spam
.*.un~
.*.swp
.tern-project
node_modules
package-lock.json
npm-debug.log 

# firefox addon stuff
web-ext-artifacts

# build artifacts
icons/icon_*.png
lib/

# "production" artifacts - screenshots and modified icons to fit browser promotion requirements
pictures/*.png
pictures/*.gif

# technical presentation
presentation/
