# spam
.*.un~
.tern-project
node_modules
package-lock.json
npm-debug.log 

# firefox addon stuff
web-ext-artifacts
solution screenshot.png
solution screenshot 2.png

# build artifacts
icons/icon_*.png
