body {
  font-size: 100%;
}

span {
  float: left;
  width: 50%;
}

label {
  display: block;
}

.flex {
  display: flex;
}

label textarea {
  vertical-align: text-top;
  flex: 1;
  height: 3.5em;
  margin-left: 1em;
}

/* This could get funky with multiple nested divs that are one right after the other */
.dependent {
  margin-left: 5%;
}

.rightside {
  height: 49vh;
  overflow-y: auto;
  margin-left: 1em;
}

#notOptionsPage {
  border-left-style: solid;
  border-left-width: thick;
  position: fixed;
}

#permissionsExplanation {
  border-top-style: solid;
  border-top-width: thick;
}
